




/* Layout */
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

ul {
  background-color: var(--color-primary-bg);
  padding: 1em;
  list-style: none;
  border-radius: var(--border-radius);
  color: var(--color-primary-text);
}

.avatar {
  max-width: 800px;
  min-width: 20%;
  width: auto;
  height: auto;
  display: flex;
  padding: 0.5em;
}

.title {
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.container {
  align-items: start;
  text-align: left;
  max-width: 1024px;
  padding: 1em;
}

.section-title{
  border-bottom: 2px solid var(--color-primary);
  color: var(--color-primary);
  margin-top: 1em;
}